/* Progress Bar*/
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #006064;
  transition: width .3s linear;
}
.progress .determinate-counter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #006064;
  transition: width .3s linear;
}

.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

/*Cursor for type.js*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Pull up */
@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer span
{
  color: #AAA;
}

li.container
{
    font-family: Raleway;
    margin: 0 auto;
  padding: 10em 3em;
  text-align: center;
}

li.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
li.topBotomBordersOut a:before, li.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

li.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

li.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

li.topBotomBordersOut a:hover:before, li.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top and Bottom borders come in */
li.topBotomBordersIn a:before, li.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

li.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

li.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

li.topBotomBordersIn a:hover:before, li.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top border go down and Left border appears */
li.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

li.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

li.topLeftBorders a:hover:before
{
    height: 100%;
}

li.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

/* Circle behind */
li.circleBehind a:before, li.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

li.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

li.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

li.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Brackets go out */
li.brackets a:before, li.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

li.brackets a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

li.brackets a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

li.brackets a:hover:before, li.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}


/* Border from Y to X  */
li.borderYtoX a:before, li.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

li.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

li.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

li.borderYtoX a:hover:before, li.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Border X get width  */
li.borderXwidth a:before, li.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

li.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

li.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

li.borderXwidth a:hover:before, li.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* Pull down  */
li.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullDown a:hover:before
{
    height: 100%;
}

/* Pull up  */
li.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullUp a:hover:before
{
    height: 100%;
}

/* Pull right  */
li.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullRight a:hover:before
{
    width: 100%;
}

/* Pull left  */
li.pullLeft a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullLeft a:hover:before
{
    width: 100%;
}

/* Pull up and down  */
li.pullUpDown a:before, li.pullUpDown a:after
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullUpDown a:before
{
    top: 0px;
} 

li.pullUpDown a:after
{
    bottom: 0px;
}

li.pullUpDown a:hover:before, li.pullUpDown a:hover:after
{
    height: 100%;
}

/* Pull right and left  */
li.pullRightLeft a:before, li.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullRightLeft a:before
{
    left: 0px;
} 

li.pullRightLeft a:after
{
    right: 0px;
}

li.pullRightLeft a:hover:before, li.pullRightLeft a:hover:after
{
    width: 100%;
}

/* Highlight text out  */
li.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

li.highlightTextOut a:before, li.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

li.highlightTextOut a:hover:before, li.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
li.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

li.highlightTextIn a:before
{
    transform: scale(1.2);
} 



/* Stars */
